<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<head>
  <title th:text="${IndexName}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
    </style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">X</a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">X</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">X</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">X</a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">X <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">X</a>
                <a href="#" class="w3-bar-item w3-button">X</a>
                <a href="#" class="w3-bar-item w3-button">X</a>
            </div>
        </div>
        <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input value="Sign out" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right" type="submit"/>
        </form>
        <a href="/account" sec:authorize="isAuthenticated()" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Hello  <span sec:authentication="name"></span></a>
        <a sec:authorize="isAnonymous()" href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Login</a>
        <a sec:authorize="isAnonymous()" href="/register" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Register</a>
        <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i
                class="fa fa-search"></i></a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large">X</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large">X</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large">X</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">X</a>
</div>

<!-- Page content -->
<div class="w3-content middle-box text-center animated fadeInDown" style="max-width:2000px;margin-top:46px">

    <h4>Edit profile</h4>

    <form autocomplete="off" action="#" th:action="@{/account/editClient}"
          method="post" class="m-t" role="form"
          data-toggle="validator">

        <input type="text" th:object="${clientsEntity}" th:field="*{firstName}"
               placeholder="First Name" class="form-control"/><br/>
        <input type="text" th:object="${clientsEntity}" th:field="*{lastName}"
               placeholder="Last Name" class="form-control" required/><br/>
        <input type="text" th:object="${contactDataEntity}" th:field="*{email}"
               placeholder="E-mail" class="form-control" required/><br/>
        <input type="text" th:object="${contactDataEntity}" th:field="*{phone}"
               placeholder="Phone" class="form-control"/><br/>
        <input type="text" th:object="${contactDataEntity}" th:field="*{fax}"
               placeholder="Fax" class="form-control"/><br/>

        <button type="submit" class="btn btn-primary block full-width m-b">
            Update
        </button>

    </form>
<!-- End Page Content -->
</div>

<div class="container">
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-xlarge">
        <p class="w3-medium">Powered by <a href="#" target="_blank">Anna Wyrwal</a></p>
        <p class="w3-medium">© 2018 <a href="#" target="_blank">Lodz University of Technology</a></p>
    </footer>
</div>

<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |

            </span>

<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>