<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Account"></title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>

<!-- Page content -->
<div class="middle-box text-center animated fadeInDown" style="max-width:2000px;margin-top:46px">
    <br/><br/>
    <div class="panel-title text-center">
        <h1 class="title">Update account details</h1>
        <hr/>
    </div>

    <div class="main-login main-center">
        <form autocomplete="off" action="#" th:action="@{/account}"
              method="post" class="m-t form-horizontal" role="form"
              data-toggle="validator">

            <div th:if="${successMessage}" class="alert alert-success"
                 role="alert" th:text="${successMessage}"></div>

            <div class="form-group">
                <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" th:object="${clientsEntity}" th:field="*{firstName}"
                               placeholder="First Name" id="firstName" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" th:object="${clientsEntity}" th:field="*{lastName}"
                               placeholder="First Name" id="lastName" class="form-control inputField" required/>
                    </div>
                </div>
            </div>

            <input type="hidden" th:object="${clientsEntity}" th:field="*{userByUsername}"/>
            <input type="hidden" th:object="${clientsEntity}" th:field="*{id}"/>

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">E-mail address</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" th:object="${contactDataEntity}" th:field="*{email}"
                               placeholder="E-mail address" id="email" class="inputField form-control" required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="cols-sm-2 control-label">Phone number</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-phone fa" aria-hidden="true"></i></span>
                        <input type="text" th:object="${contactDataEntity}" th:field="*{phone}"
                               placeholder="Phone number" id="phone" class="inputField form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="fax" class="cols-sm-2 control-label">Fax number</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-fax fa" aria-hidden="true"></i></span>
                        <input type="text" th:object="${contactDataEntity}" th:field="*{fax}"
                               placeholder="Fax number" id="fax" class="inputField form-control"/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b">Update</button>
        </form>
    </div>

</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>