<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <title th:replace="fragments/header :: headStyles"></title>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>

<!-- Page content -->
<br/><br/>
<h2><p class="alert alert-success" th:if="${successMessage != null}" th:text="${successMessage}"></p></h2>

<div class="panel-title text-center">
    <h1 class="title">Update account details</h1>
    <hr/>
</div>

<div class="main-login main-center">
    <h2 class="title">Change password</h2>
    <form autocomplete="off" action="#" th:action="@{/adminPanel/updatePassword}"
          method="post" class="m-t form-horizontal" role="form" th:object="${user}"
          data-toggle="validator">
        <input type="hidden" th:field="${user.email}"/>
        <input type="hidden" th:field="${user.username}"/>
        <input type="hidden" th:field="${user.enabled}"/>
        <input type="hidden" th:field="${user.role}"/>
        <input type="hidden" th:field="${user.lastName}"/>

        <div class="form-group">
            <label for="Password" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-fax fa" aria-hidden="true"></i></span>
                    <input type="password"  th:field="${user.password}"
                           placeholder="Password" id="Password" class="inputField form-control"/>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary block full-width m-b">Update</button>
    </form>
</div>
<div class="main-login main-center">
    <h2 class="title">Change e-mail</h2>
    <form autocomplete="off" action="#" th:action="@{/adminPanel/updateEmail}"
          method="post" class="m-t form-horizontal" role="form" th:object="${user}"
          data-toggle="validator">
        <input type="hidden" th:field="${user.password}"/>
        <input type="hidden" th:field="${user.username}"/>
        <input type="hidden" th:field="${user.lastName}"/>
        <input type="hidden" th:field="${user.enabled}"/>
        <input type="hidden" th:field="${user.role}"/>

        <div class="form-group">
            <label for="mail" class="cols-sm-2 control-label">E-mail</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-fax fa" aria-hidden="true"></i></span>
                    <input type="email"  th:field="${user.email}"
                           placeholder="Email" id="mail" class="inputField form-control"/>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary block full-width m-b">Update</button>
    </form>
</div>
<!-- End Page Content -->

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>