<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirmation</title>
  <title th:replace="fragments/header :: headStyles"></title>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>

<!-- Page content -->

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
    
      <hr />

      <div th:if="${successMessage}" class="alert alert-success"
        role="alert" th:text=${successMessage}></div>

      <!--<div th:if="${errorMessage}" class="alert alert-danger"-->
        <!--role="alert" th:text=${errorMessage}></div>-->
        
      <div th:if="${invalidToken}" class="alert alert-danger"
        role="alert" th:text=${invalidToken}></div>

    </div>
  </div>
<!-- End Page Content -->

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>