<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Date</title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:60px">
    <hr/>
    <h1 class="text-center">Date</h1>

    <div class="main-login main-center">

        <form autocomplete="off" action="/catering/orders/date/" th:action="@{/catering/orders/date}" method="post"
              th:object="${date}" class="m-t" role="form">

            <input type="hidden" th:field="${date.id}"/>

            <div class="form-group">
                <label for="startTime" class="cols-sm-2 control-label">Start time</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="far fa-clock" aria-hidden="true"></i></span>
                        <input type="text" th:object="${date}"  th:field="${date.startTime}"
                               placeholder="yyyy-mm-dd hh:mm:ss" id="startTime" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="endTime" class="cols-sm-2 control-label">End time</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock" aria-hidden="true"></i></span>
                        <input type="text" th:object="${date}"  th:field="${date.endTime}"
                               placeholder="yyyy-mm-dd hh:mm:ss" id="endTime" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <button sec:authorize="hasAuthority('USER')" type="submit" class="btn btn-primary block full-width m-b text-center">Update</button>
        </form>
        <a th:href="@{/catering/__${cateringId}__/orders/orders}"><button class="btn btn-default">Back</button></a>
    </div>
</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>