<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Order</title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:60px">
    <hr/>
    <h1 class="text-center">Order</h1>

    <div class="main-login main-center">

        <form autocomplete="off" action="/catering/orders/edit/" th:action="@{/catering/orders/edit}" method="post"
              th:object="${order}" class="m-t" role="form">

            <input type="hidden" th:field="${order.id}"/>

            <input type="hidden" th:field="${order.cateringId}"/>
            <input type="hidden" th:field="${order.clientId}"/>
            <input type="hidden" th:field="${order.placeId}"/>
            <input type="hidden" th:field="${order.dateId}"/>

            <div sec:authorize="hasAuthority('USER')" class="form-group">
                <label for="amountOfPeople" class="cols-sm-2 control-label">Amount of people</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-users" aria-hidden="true"></i></span>
                        <input type="number"  th:field="${order.amountOfPeople}"
                               placeholder="amountOfPeople" id="amountOfPeople" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasAuthority('USER')" class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <label for="invoice">Invoice</label>
                        <input type="checkbox"  th:field="${order.invoice}"
                               placeholder="invoice" id="invoice" class="form-control inputField"/>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <label for="payedUp">Payed up</label>
                        <input type="checkbox"  th:field="${order.payedUp}"
                               placeholder="payedUp" id="payedUp" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b text-center">Update</button>
        </form>
        <a th:href="@{/catering/__${order.getCateringsByCateringid().getId()}__/orders/orders}">
            <button class="btn btn-default">Back</button>
        </a>
    </div>
</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>