<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Orders</title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:60px">
    <h1 class="text-center">Orders</h1>
    <div class="container-fluid">
        <a th:href="@{/catering/catering/}"><button class="btn btn-default">Back</button></a>
        <a th:href="@{/catering/orders/create/__${catering.id}__}"><button class="btn btn-primary">Create</button></a>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cost</th>
                <th scope="col">Amount of people</th>
                <th scope="col">PayedUp</th>
                <th scope="col">Invoice</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th class="text-right" scope="colgroup"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${ordersList.pageList}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.cost}"></td>
                <td th:text="${order.amountOfPeople}"></td>
                <td th:text="${order.payedUp}"></td>
                <td th:text="${order.invoice}"></td>
                <td>
                    <a th:href="@{/catering/orders/place/__${order.getPlacesByPlaceid().getId()}__}"><span>Place</span></a>
                </td>
                <td>
                    <a th:href="@{/catering/orders/date/__${order.getDatesByDateid().getId()}__}"><span>Date</span></a>
                </td>
                <td>
                    <a th:href="@{/catering/orders/date/__${order.getDatesByDateid().getId()}__}"><span>Dishes</span></a>
                </td>
                <td class="text-right">
                    <a th:href="@{/catering/catering/details/__${catering.id}__}"><button class="btn btn-info">Edit</button></a>
                    <a th:href="@{/catering/orders/delete/__${order.id}__}"><button class="btn btn-danger">Remove</button></a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:if="${!ordersList.firstPage}"
           th:href="@{/catering/__${catering.id}__/orders/orders/__${ordersList.page - 1}__}">Previous</a>
        <span th:text="${ordersList.page + 1}">1 / 10</span>
        <a th:if="${!ordersList.lastPage}"
           th:href="@{/catering/__${catering.id}__/orders/orders/__${ordersList.page + 1}__}">Next</a>

    </div>
</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>