<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Place</title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:60px">

    <h1 class="text-center">Place</h1>

    <div class="main-login main-center">

        <form autocomplete="off" action="/catering/orders/place/" th:action="@{/catering/orders/place}" method="post"
              th:object="${place}" class="m-t" role="form">

            <input type="hidden" th:field="${place.id}"/>

            <div class="form-group">
                <label for="address" class="cols-sm-2 control-label">Address</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-book" aria-hidden="true"></i></span>
                        <input type="text" th:field="${place.address}"
                               placeholder="Address" id="address" class="form-control inputField" required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="postalCode" class="cols-sm-2 control-label">Postal code</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-book" aria-hidden="true"></i></span>
                        <input type="text" th:field="${place.postalCode}"
                               placeholder="Code" id="postalCode" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="floor" class="cols-sm-2 control-label">Floor</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-book" aria-hidden="true"></i></span>
                        <input type="number" th:field="${place.floor}"
                               placeholder="Floor" id="floor" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="hallNumber" class="cols-sm-2 control-label">Hall Number</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-book" aria-hidden="true"></i></span>
                        <input type="number" th:field="${place.hallNumber}"
                               placeholder="Hall Number" id="hallNumber" class="form-control inputField"/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b text-center">Update</button>
        </form>
        <a th:href="@{/catering/__${cateringId}__/orders/orders}"><button class="btn btn-default">Back</button></a>
    </div>
</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>