<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create dish</title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:60px">

    <h1 class="text-center">Create Dish</h1>
    <div class="main-login main-center m-t">
        <form autocomplete="off" action="/dish/create" th:action="@{/dish/create}" method="post"
              th:object="${dish}" role="form">

            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Dish name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i></span>
                        <input type="text"  th:field="${dish.name}"
                               placeholder="name" id="name" class="form-control inputField" required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="image" class="cols-sm-2 control-label">Dish image</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i></span>
                        <input type="file"  th:field="${dish.image}"
                               placeholder="Image" id="image" class="form-control inputField" required/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b text-center">Add</button>
        </form> <br/>
        <a class="text-center" th:href="@{/dish/dishes}"><button class="btn btn-default block full-width m-b text-center">Back</button></a>
    </div>

</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>