<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dishes</title>
    <title th:replace="fragments/header :: headStyles"></title>
</head>
<body>
<div th:replace="fragments/header :: normalNavBar"></div>
<div th:replace="fragments/header :: smallScreensNavBar"></div>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:60px">
    <h1 class="text-center">Ordered Dishes</h1>
    <div class="container-fluid">
        <a th:href="@{/catering/__${cateringId}__/orders/orders}"><button class="btn btn-default">Back</button></a>
        <a th:href="@{/catering/orders/dishes/create/__${orderId}__}"><button class="btn btn-primary">Create</button></a>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Takeaway</th>
                <th scope="col">Dish name</th>
                <th scope="col"></th>
                <th class="text-right" scope="colgroup"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dishOrder : ${dishOrdersList.pageList}">
                <td th:text="${dishOrder.id}"></td>
                <td th:text="${dishOrder.takeaway}"></td>
                <td th:text="${dishOrder.getDishById().getName()}"></td>
                <td>
                    <a th:href="@{/catering/orders/place/__${dishOrder.getPlacesByPlaceid().getId()}__}"><span>Image</span></a>
                </td>
                <td class="text-right">
                    <a th:href="@{/catering/orders/dishes/__${dishOrder.id}__}"><button class="btn btn-danger">Remove</button></a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:if="${!dishOrdersList.firstPage}"
           th:href="@{/catering/orders/__${orderId}__/dishes/__${dishOrdersList.page - 1}__}">Previous</a>
        <span th:text="${dishOrdersList.page + 1}">1 / 10</span>
        <a th:if="${!dishOrdersList.lastPage}"
           th:href="@{/catering/orders/__${orderId}__/dishes/__${dishOrdersList.page + 1}__}">Next</a>

    </div>
</div>
<!-- End Page Content -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>